@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f2f2ed;
  --foreground: #2d2d2b;
  --brand-accent: #3a8cf7;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #f2f2ed;
    --foreground: #2d2d2b;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
